# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Banco de Dados Local (para não sobrescrever dados de teste)
*.db
*.sqlite3

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/

# Pytest e Cobertura
.pytest_cache/
.coverage
htmlcov/